.buttonSbmt {
    background-color: rgba(0, 121, 191, 1);
    color: white; 
    cursor: pointer; 
    border: 0; 
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
}

.buttonSbmt:hover {
    background-color: rgb(2, 95, 149);
}