.card {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 300px;
    padding: 5px;
    margin-left: 10px;
}

@media (max-width: 1399.98px) { 
    .card {
        width: 270px;
    }
}