.header {
    background-color: rgba(0, 103, 163, 1);
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-size: 28px; 
    display: flex; 
    align-items: center;
    min-height: 8vh;
}

.title_in_header {
    margin-left: 15px;
}